body {
  background-color: #ffffff;
  color: black;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

body.dark-theme .navbar {
  background-color: #343a40;
}

body.dark-theme .navbar-nav .nav-link {
  color: white;
}

body.dark-theme .navbar-nav .nav-link.active {
  font-weight: bold;
}