.about-container {
    text-align: center;
    padding: 50px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #007bff;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #3399FF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #0000FF;
  }
  