<div class="container">
    <h2>Users</h2>
    <div class="card" style="width: 18rem;">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="User">
      <div class="card-body">
        <h5 class="card-title">User Name</h5>
        <p class="card-text">This user is ...</p>
        <a [routerLink]="['/users/profile/edit', 123]" class="btn btn-warning">Edit</a>
      </div>
    </div>
    <a [routerLink]="'/users/profile/add'" class="btn btn-success mt-3">Add New Profile</a>
  </div>
  <router-outlet></router-outlet>