<h1>Angular Child Routes Example</h1>
<nav>
<a routerLink="/parent" routerLinkActive="active">Parent</a> |
<a routerLink="/parent/child1" routerLinkActive="active">Child One</a> |
<a routerLink="/parent/child2" routerLinkActive="active">Child Two</a>
</nav>
<hr/>
<router-outlet></router-outlet>
<a routerLink="/admin/parent/child1" routerLinkActive="active">Admin Section</a> |
<a routerLink="/admin/dashboard" routerLinkActive="active">Admin
Dashboard</a> |
<a routerLink="/admin/users" routerLinkActive="active">Admin Users</a>